*{ box-sizing: border-box; }



h1, h3{
    font-family: 'Paytone One', sans-serif;
    padding: 0;
    margin: 0;
    }

h1, h4{ color: #231942; }

h1{ font-size: 3rem; }

h3{ font-size: 1.3rem; }

p{ color: #19294d; }

li:link{color: #231942;}
li:visited{color: #231942;}

/* html{ background-color: #ff769d; } */
html{ background-color: #cfa9c3; }

/* ______________________
   |                    |
   |   NAVIGATION BAR   |
   |____________________|
*/

header{
    display: block;
    background-color: #9f86c0;
    padding: 1.2rem;
    height: 3.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    min-width: 788px
}

img{ max-width: 100%; }



.topBar a{
    display: inline-block;
    margin: 0 2rem;

    /*min-width: 788px;*/
}


.intro{
    height: 8rem

    }

/* TITLE PROPERTIES */
.Hannah{
    text-align: center;
    padding: 0;
    }
.Hannah h1{
    padding: 0;
    margin: 0;
}

.Tagline{
    text-align: center;
    padding: 0rem;
    }

.Tagline h3{
    padding: 0;
    margin: 0.6rem;
}


/* STYLE FOR MAJORITY OF HOMEPAGE */
.sections{
width: auto;
min-width: 18rem;
min-height: 45rem;
position: absolute;
float: left;
/*position: relative;*/
}

.left, .right {
width: 32vw;
height: 100vh;
background-color: #ff769d;
}

.center {
width: 32vw;
height: 100vh;
/*position: relative;*/
background-color: #f0ffae;
margin: 0 auto;
float: left;
}

.left{ 
    float: left;
}
.right{
    float: left;
}

img.sections{
    padding: 4rem;
    margin: 0 auto;
}

.photo-left{ 
    margin: auto;
    width: 100%;
    max-width: 288px;
}
.photo-center{
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
}
.photo-right{
    margin: 0 auto;
    width: 100%;
    max-width: 432px;
}



/* STYLES FOR INDIVIDUAL PAGES*/


/* ______________________
   |                    |
   |    TALKING WALT    |
   |____________________|
*/

.talkingwalt{
    display: block;
    margin: auto;
    width: 522px;
    height: 140px;
    padding: 1.2rem;
}


.talkingwaltdescription{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}


image{ margin: 0 auto; }

.episodes{
    text-align: center;
    height: 3rem;
    margin: 0rem;
    padding: 0rem;
}

.videos{
    display: block;
    margin: 2rem auto;
    width: 560px;
}



/* ______________________
   |                    |
   |        MUSIC       |
   |____________________|
*/

.music h1{
    text-align: center;
}

p, h3, h4, .song{
    font-size: 1rem;
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
}

.song h4{
    font-size: 2.4rem;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    padding: 0;
    margin: 2rem auto 0 auto;
    text-align: center;
}

audio{
    display: block;
    width: 20rem;
    margin: .8rem auto;
 }

p{ font-family: 'Lato', sans-serif; }

.cherricola{ margin-top: 2rem; }
.em{ margin-top: 3.5rem; }

.musicvideos{
    display: block;
    margin: 0 auto 3rem auto;
    width: 560px;
}

/* ______________________
   |                    |
   |        ABOUT       |
   |____________________|
*/

.abouttitle{
    text-align: center;
    padding: 0;
    margin-top:1rem;
}

.about h4{
    font-size: 2.4rem;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}

.about p, li{
    font-size: 1rem;
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}



/* ______________________
   |                    |
   |      PROJECTS      |
   |____________________|
*/

.projects{
    width: 900px
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}

.projects a{
    text-decoration: none;
}

.projects h1{
    text-align: center;
}
.projects p{
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.artrow{
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    padding-left: 5rem;
}


.polyart{
    padding: 2rem;
    width: 500px;
    height: auto;
    margin: 0 auto;
}


.ptitle h4{
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    padding: 0;
    padding-top: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

.artrow2{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding-left: 6rem;
}

.art{
    float: left;
    padding-bottom: 2rem;
    padding-left: 1rem;
    width: 500px;
    margin: 0 auto;
}

.artrow3{
    width: 1500px;
    height: 500px;
    margin: 0 auto;
    padding-left: 6rem;
    padding-top: 2rem;
}

video{
    width: 960px;
    padding: 0 2rem 2rem 2rem;
    margin: 0 auto;
    display: block;
}

.pvideo h5{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: .5rem;
    color: #5e548e;
}





