*{ box-sizing: border-box; }


html
{
    background-color: #231942;
}

/* I drew the logo, scanned it, and changed the color*/
.logo{
    width: 350px;
    max-width: 50vh;
    height: auto;
    margin: 0 auto;
    padding-top: 7rem;
}

.allbuttons{ margin: 0 auto; }


/* I learned how to make the buttons from https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.button{
    background-color: #cfa9c3;
    color: #231942;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: 2.5rem 1rem;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    float: left;
    font-family: 'Delius Swash Caps', cursive;
}

.allbuttons{ 
    margin: 0 auto;
    width: 40rem;
}



/*.aboutbutton{ padding-left: 7vw; } */

/*
.aboutbutton{
    padding-left: 15vw;
    float: left;
}

.projectsbutton{
    padding-top: 9rem;
    padding-left: 25vw;
    float: left;
}

.musicbutton{
    padding-top: 9rem;
    padding-right: 25vw;
    float: right;
}


.twbutton{
    padding-right: 15vw;
    float: right;
}

*/





