*{ box-sizing: border-box; }


h1{ font-family: 'Paytone One', sans-serif; }

h1, h4{ color: #3d28b5; }

p{ color: #23170c; }

li:link{color: blue;}
li:visited{color: purple;}

/*HERE I'M TRYING TO STYLE THE NAVIGATION BAR ON THE TOP
	I FOUND THIS ONLINE
	I ADDED .TOPBAR SO IT WOULDN'T APPLY TO ALL LINKS.
	IS THIS RIGHT?*/

ul.topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.topBar {
    float: left;
}

li.topBar a.topBar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.topBar a.topBar:hover {
    background-color: #111;
}

/* TITLE PROPERTIES */
title{text-align: center;}

h3.Tagline{text-align: center;}


/* STYLE FOR MAJORITY OF HOMEPAGE */
sections{
width: auto;
min-width: 18rem;
min-height: 45rem;
position: absolute;
/*position: relative;*/
}

.left, .right {
width: 32vw;
height: 100vh;
background-color: #ff769d;
}

.center {
width: 32vw;
height: 100vh;
/*position: relative;*/
background-color: #f0ffae;
margin: 0 auto;
}

.left{ float: left; }
.right{ float: right; }

